page-home {
  .button, .number {
    margin-left:auto;
    margin-right:auto;
  }
  .number {
    font-size: 24px;
  }
  .clearfix {
    clear:both;
  }
  .hr{
    border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  }
}
